{% macro itemCard(title, url, imgBase, excerpt) %}
<article class="item-card">
  <a class="item-link" href="{{ url }}">
    <div class="item-media">
        <img src="{{ imgBase }}.svg" alt="{{ title }} SVG" class="item-card-image" loading="lazy">
    </div>
    <div class="item-body">
      <h2 class="item-title">{{ title }}</h2>
      {% if excerpt and excerpt | trim %}
      <p class="item-excerpt">{{ excerpt }}</p>
      {% endif %}
    </div>
  </a>
</article>
{% endmacro %}
